<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3주차 챌린지 과제</title>
</head>
<body>
    <h1>저와 제 코딩 리뷰어를 소개합니다!!</h1>
    <h2>백엔드 01 듀오</h2>
    <h4>ME</h4>
    <p>
        이름 : {{me.name}}<br>
        나이 : {{me.age}}<br>
        전공 : {{me.major}}<br>
        깃허브 링크 : <a href={{me.github}}>@Haemulramen</a>
    </p>
    <h4>My Code Reviewer</h4>
    <p>
        이름 : {{my_duo.name}}<br>
        나이 : {{my_duo.age}}<br>
        전공 : {{my_duo.major}}<br>
        깃허브 링크 : <a href={{my_duo.github}}>@JooJooda</a>
    </p>
</body>
</html>